.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 25%;
    padding: 5px;
    font-size: 20px
  }
  
  /* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
  }

.grid-container {
    display: inline-grid;
    grid-template-columns: minmax(100px, 0.75fr) minmax(100px, 2.00fr) minmax(100px, 1.33fr) minmax(100px, 2.33fr);
  }

.grid-item {
  font-size: 20px
}

